<h1>Burger Time!</h1>

<h2>Burgers to eat!</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devour=true}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Burgers you ate!</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devour=false}}
    {{/if}}
    {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="ca">Type Burger Name Here!</label>
        <input type="text" id="ca" name="name">
    </div>

    <div class="form-group">
        <label for="devoured">devoured?</label><br>
        {{!-- <input type="radio" name="devoured" value="1" checked> Devoured!<br> --}}
        <input type="radio" name="devoured" value="0" checked> Buy a burger.
    </div>

    <button type="submit">Add burger</button>
</form>