* {
  font-family: "Fontdiner Swanky", cursive;
}

body {
  background-image: url("./img/Diner-bg.jpg");
  background-size: initial;
  background-color: aquamarine;
  text-align: center;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}

.op-cont {
  background-color: whitesmoke;
  opacity: 0.9;
  max-width: 60%;
}
